.App {
  text-align: center;
}

nav{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  color: white;
  min-height: 10vh;
  background-color: #152036;
}

.nav-Links{
  width : 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
